.winner {
	color: green;
}

body {
	background: lightgrey;
}

h1, p{
	color: black;
}

.scoreboard {
	margin-top: 25px;
	font-family: sans-serif;
}

.center {
	text-align: center;
}

.buttons {
	margin-top: 20px;
}